@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --pink: #FA9494;
    --light: #F5EDDC;
    --grey: #CFD2CF;
    --red: #A62349;
}

.btn {
    border-radius: 10px;
    transition: all .4s ease-in-out;

}

#add {
    display: block;
    margin: 3% auto;
    padding: 10px 20px;
    border: 2px solid var(--red);
    color: var(--red);
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
}

#add:hover {
    background-color: var(--red);
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}

.form {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

#library {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
}

.content {
    display: flex;
    justify-content: center;
}

.active {
    display: flex;
}


.form label,
p {
    text-align: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


.form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}
.form .radio {
    margin-bottom: .5rem;
}

.form #submit {
    width: 200px;
    display: block;
    margin: 1rem auto;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s linear;
}

.form #submit:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: white;
}


.form .radio label{
    margin: 0;
    margin-left: 6px;

}

#bookForm {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#close {
    align-self: flex-end;
    cursor: pointer;
}

#close img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.radio {
    display: flex;
    justify-content: center;
}

.book {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 2%;
    background-color: white;
    box-shadow: 3px 3px 3px var(--grey);
}

.book p {
    color: var(--pink);
    margin-bottom: 1rem;
}

.bTitle {
    font-weight: 700;
}


.isRead,
.remove {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid black;
}

.isRead {
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.isRead:hover {
    background-color: black;
    color: white;
}

.remove {
    border: none;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 7%;
    margin-bottom: 2%;
    cursor: pointer;
}

.remove:hover {
    transform: scale(1.1);
    transform-origin: center;
}

@media only screen and (max-width: 800px) {
  
    #bookForm {
        width: 70%;
    }

}

@media only screen and (max-width: 576px) {
  
    #bookForm {
        width: 90%;
    }

}